amqp
asgiref
beautifulsoup4
billiard
black
blinker
boto
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudinary
colorama
colorlog
crispy-bootstrap5
cryptography
defusedxml
dj-database-url
Django
django-allauth
django-autoslug
django-cloudinary-storage
django-crispy-forms
django-debug-toolbar
django-environ
django-extensions
django-filter
django-jazzmin
django-markwhat
django-redis
djangorestframework
EasyProcess
entrypoint2
exceptiongroup
flake8
Flask
gunicorn
idna
iniconfig
isort
itsdangerous
Jinja2
keyring
kombu
Markdown
markdown2
MarkupSafe
mccabe
MouseInfo
mss
mypy-extensions
numpy
oauthlib
opencv-python
packaging
pathspec
Pillow
platformdirs
pluggy
prompt-toolkit
psycopg
psycopg2
psycopg2-binary
PyAutoGUI
pycodestyle
pycparser
pyflakes
PyGetWindow
PyJWT
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytest
pytest-django
python-dateutil
python-decouple
python3-openid
pytweening
pytz
redis
requests
requests-oauthlib
segno
six
soupsieve
sqlparse
stripe
sweetify
tomli
tornado
typing_extensions
tzdata
urllib3
vine
wcwidth
Werkzeug
whitenoise
