amqp
asgiref
beautifulsoup4
billiard
black
blinker
boto
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudinary
colorama
colorlog
crispy-bootstrap5
crypto
cryptography
defusedxml
dj-database-url
Django
django-allauth
django-autoslug
django-cloudinary-storage
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-environ
django-extensions
django-filter
django-jazzmin
django-markwhat
django-redis
djangorestframework
EasyProcess
entrypoint2
exceptiongroup
flake8
Flask
gunicorn
idna
iniconfig
isort
itsdangerous
Jinja2
keyring
kombu
Markdown
markdown2
MarkupSafe
mccabe
MouseInfo
mss
mypy-extensions
Naked
numpy
oauthlib
opencv-python
packaging
pathspec
Pillow
platformdirs
pluggy
prompt-toolkit
psycopg
psycopg2
psycopg2-binary
PyAutoGUI
pycodestyle
pycparser
pycryptodome
pyflakes
PyGetWindow
PyJWT
PyMsgBox
pyperclip
PyQt5-Qt5
PyQt5-sip
PyQt6
PyQt6-Qt6
PyQt6-sip
PyQt6-WebEngine
PyQt6-WebEngine-Qt6
PyRect
pyscreenshot
PyScreeze
PySocks
pytest
pytest-django
python-dateutil
python-decouple
python3-openid
pytweening
pytz
PyYAML
redis
requests
requests-oauthlib
segno
shellescape
six
soupsieve
sqlparse
stripe
sweetify
tk
tomli
tornado
typing_extensions
tzdata
urllib3
vine
wcwidth
Werkzeug
whitenoise
